<strong>Olá, {{ deliverer }}</strong>
<p>Você tem uma nova entrega disponível, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Numero: </strong> {{ number }} <br />
  <strong>Complemento:</strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zipcode }} <br />
</p>
<br />
<p>A entrega já está disponível para retirada das 8AM às 18PM.</p>
